.layout {
  border-radius: 24px;
  background: #DFF56B;
  padding: 64px;
  margin: 120px 60px 60px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  //&:after {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  background: url('./mask-left.svg') no-repeat left center;
  //  opacity: 0.6;
  //
  //  @media (max-width: 768px) {
  //    left: 70%;
  //  }
  //}

  //&:before {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  background: url('./mask-right.svg') no-repeat right center;
  //  opacity: 0.6;
  //
  //  @media (max-width: 768px) {
  //    right: 70%;
  //  }
  //}
}

.maskR {
  width: 38% !important;
  right: 0 !important;
  left: auto !important;
}

.maskL {
  width: 38% !important;
  right: auto !important;
  left: 0 !important;
}

.img {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.downloadBtn {
  z-index: 3;
}

@media (max-width: 768px) {
  .layout {
    margin: 30px 15px 15px 15px;
    padding: 24px;
  }

  .content {
    width: 100%;
  }
}