.chip {
  border-radius: 100px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 6px 16px;
  max-width: max-content;
  text-transform: uppercase;
}

.primary {
  background: rgba(9, 50, 36, 0.40);
  backdrop-filter: blur(7px);
  color: var(--secondary);
}

.secondary {
  background: rgba(223, 245, 107, 0.50);
  backdrop-filter: blur(2px);
  color: var(--primary)
}