.layout {
  margin: 24px 60px 0 60px;
  display: flex;
  justify-content: space-between;
  gap: 20%;

  @media (max-width: 1020px) {
    flex-direction: column;
    gap: 20px;
  }

  @media (max-width: 768px) {
    margin: 32px 15px 0 15px;
  }
}

.title {
  width: 40%;
  flex-shrink: 0;

  @media (max-width: 768px) {
    width: 100%;
  }
}