.divider {
  transition: all 300ms ease-in-out;
  border-radius: 1px;
  width: 100%;
  height: 1px;
}

.grayColor {
  background-color: var(--gray-100);
}

.primaryColor {
  background-color: var(--primary);
}