.list {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  padding-left: 20px;

  li {
    color: rgba(9, 50, 36, 0.70);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.highlightedText {
  color: #093224;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}