.layout {
  margin: 240px 60px 120px 60px;

  @media (max-width: 768px) {
    margin: 138px 15px 16px 15px;
  }
}

.title {
  position: relative;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./02.png') no-repeat center top;
    z-index: -1;
  }
}

.cards {
  margin-top: 32px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: 768px) {
    gap: 24px;
  }
}

.row {
  display: flex;
  gap: 24px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.firstRow > :nth-child(2) {
  background: #F2FBC4 !important;
}

.secondRow > :last-child {
  background: #F2FBC4 !important;
}

.btn {
  margin: 0 auto;
}