.img {
  width: 100% !important;
  object-fit: cover;
  border-radius: 16px;
}

.btn {
  margin: 32px auto 0 auto;
}

.imgLayout {
  width: 60%;

  @media (max-width: 768px) {
    width: 100%;

    img:not(:first-child) {
      display: none;
    }
  }
}