.layout {
  margin: 162px 60px 0 60px;

  @media (max-width: 768px) {
    margin: 142px 15px 0 15px;
  }
}

.workflowTextLayout {
  padding: 42px;
  border-radius: 12px;
  background: var(--white);
  display: flex;
  align-items: center;
  height: 100%;

  @media (max-width: 768px) {
    height: 372px;
  }
}

.workflowLayout {
  width: 50%;
  border-radius: 22px;
  background: #F6F6F4;
  padding: 30px;
  display: flex;
  gap: 16px;

  @media (max-width: 1020px) {
    background-color: #FFFFFF;
    padding: 0;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.workflowText {
  width: 251px;

  @media (max-width: 1020px) {
    width: 100%;
  }
}

.workflow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -45%;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./mask.svg') no-repeat right center;
    opacity: 0.5;

    @media (max-width: 1020px) {
      top: 0;
    }

    @media (max-width: 768px) {
      background: url('./mask.svg') no-repeat right top;
    }
  }
}

.contentLayout {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.workflowImg {
  @media (max-width: 1020px) {
    display: none;
  }
}

.approaches {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.benefit {
  border-radius: 100px;
  background: #F7F7F7;
  padding: 6px 15px;
  display: flex;
  gap: 6px;
  width: max-content;
  word-break: break-word;

  svg {
    flex-shrink: 0;
  }

  @media (max-width: 768px) {
    align-items: center;
    width: 100%;
  }
}

.br {
  @media (max-width: 768px) {
    display: none;
  }
}