.title {
  display: flex;
  justify-content: space-between;
}

.titleEl {
  width: 60%;
  position: relative;
}

.num1 {
  &:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./01.png') no-repeat left top;
    z-index: -1;
  }
}

.num2 {
  &:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./02.png') no-repeat left top;
    z-index: -1;
  }
}

.num3 {
  &:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./03.png') no-repeat left top;
    z-index: -1;
  }
}

.num4 {
  &:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./04.png') no-repeat left top;
    z-index: -1;
  }
}

.num5 {
  &:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./05.png') no-repeat left top;
    z-index: -1;
  }
}

.num6 {
  &:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./06.png') no-repeat left top;
    z-index: -1;
  }
}

.num7 {
  &:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./07.png') no-repeat left top;
    z-index: -1;
  }
}

.num8 {
  &:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./08.png') no-repeat left top;
    z-index: -1;
  }
}

.num9 {
  &:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./09.png') no-repeat left top;
    z-index: -1;
  }
}

.num10 {
  &:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./10.png') no-repeat left top;
    z-index: -1;
  }
}

.textEl {
  display: flex;
}

.alignB {
  align-items: flex-end;
}

.alignT {
  align-items: flex-start;
}

.alignC {
  align-items: center;
}

@media (max-width: 768px) {
  .layout {
    margin: 100px 15px 0 15px;
  }

  .title {
    flex-direction: column;
  }

  .textEl {
    margin-top: 20px;
    width: 100%;
  }

  .titleEl {
    width: 100%;

    &:before {
      top: -40px;
    }
  }
}