.layout {
  margin: 120px 60px 0 60px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.personBg {
  background: linear-gradient(180deg, rgba(31, 36, 32, 0.00) 54.33%, rgba(31, 36, 32, 0.50) 100%), url('./person.png') lightgray 50% / cover no-repeat;
  height: 450px;
  width: 50%;
  border-radius: 24px;
  padding: 32px;
  display: flex;
}

.text {
  margin-top: auto;
  padding: 24px;
  border-radius: 16px;
  background: var(--white);
  text-align: center;
}

.contactForm {
  width: 50%;
  border-radius: 16px;
  background: var(--secondary);
  padding: 100px 64px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./vector-top.png') no-repeat center top;
    z-index: 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./vector-bottom.png') no-repeat center bottom;
    z-index: 0;
  }
}

.button {
  width: max-content;
  z-index: 2;
}

.contactTitle {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 1024px) {
  .layout {
    flex-direction: column;
  }

  .personBg, .contactForm {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .layout {
    margin: 30px 15px 0 15px;
  }
}