.layout {
  margin: 160px 60px 0 60px;

  @media (max-width: 768px) {
    margin: 120px 15px 0 15px;
  }
}

.titleLayout {
  width: 46%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 24px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./04.png') no-repeat center top;
    z-index: -1;
  }
}

.divider {
  background-color: #D2D8D5;
}

@media (max-width: 1024px) {
  .titleLayout {
    width: 100%;
  }
}