.layout {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 113px 60px 0 60px;

  @media (max-width: 768px) {
    margin: 123px 15px 0 15px;
  }
}

.title {
  position: relative;
}

.num1 {
  &:before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./01.png') no-repeat left top;
    z-index: -1;
  }
}

.num2 {
  &:before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./02.png') no-repeat left top;
    z-index: -1;
  }
}

.num3 {
  &:before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./03.png') no-repeat left top;
    z-index: -1;
  }
}

.num4 {
  &:before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./04.png') no-repeat left top;
    z-index: -1;
  }
}

.num5 {
  &:before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./05.png') no-repeat left top;
    z-index: -1;
  }
}

.num6 {
  &:before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./06.png') no-repeat left top;
    z-index: -1;
  }
}

.num7 {
  &:before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./07.png') no-repeat left top;
    z-index: -1;
  }
}

.num8 {
  &:before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./08.png') no-repeat left top;
    z-index: -1;
  }
}